
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Ejercicio CCD</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="/add" method="POST" name="addForm" enctype="multipart/form-data">
        <h2 class="form-signin-heading">Ingresa los datos</h2>
        <label for="inputNombre" class="sr-only">Nombre</label>
        <input type="text" id="inputNombre" name="inputNombre" class="form-control" placeholder="Nombre" required autofocus>

        <label for="inputTitulo" class="sr-only">Titulo</label>
        <input type="text" id="inputTitulo" name="inputTitulo" class="form-control" placeholder="Titulo" required autofocus>

        <label for="inputDesc" class="sr-only">Descripción</label>
        <input type="text" id="inputDesc" name="inputDesc" class="form-control" placeholder="Descripción" required autofocus>

        <label for="inputImg" class="sr-only">Imagen</label>
        <input type="file" id="inputImg" name="inputImg" class="form-control" placeholder="Imagen" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Agregar</button>
      </form>

    </div> <!-- /container -->


  </body>
</html>
